<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu-Gi-Oh! World</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa; 
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            background-color: #1f1f1f;
            padding: 0 20px;
        }

        header img {
            height: 125px;
        }

        .navigation a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            margin-right: 40px; /* Adjusted spacing */
            transition: color 0.3s ease-in-out;
            font-size:18px;
        }

        .navigation a:hover, .navigation a:focus {
            color: #e9e9e9;
            text-decoration: underline;
        }

        

        .profile .profile-image {
        background-color: grey;
        padding: 1px;
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 100px;
        object-fit: cover; 
}


        .carousel img {
            border-radius: 8px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .content .image-left,
        .content .image-right {
            flex-basis: 100%;
            padding: 10px;
               
            
        }

        .content .image-center {
            flex-basis: calc(100% - 220px);
            padding: 10px;
            text-align: center;
        }

        @media (min-width: 768px) {
            .content .image-left,
            .content .image-right {
                flex: 1;
                max-width: 200px;
            }
            .content .image-center {
                flex: 3;
            }
        }

        .content img {
            width: 100%;
            height: auto;
            cursor: pointer;
            border-radius: 8px;
        }

        footer {
            background-color: #1f1f1f;
            color: white;
            padding: 10px 0;
            text-align: center;
            margin-top: 20px;
            font-size: 0.9em;
        }

        footer a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
        }

        footer a:hover {
            text-decoration: underline;
        }

        .image-right img {
            margin-bottom: 30px;
        }

        .image-left img {
            margin-bottom: 30px;
        }

    </style>
</head>
<body>




</boby>
